@model Assignment_06.Models.PieceworkWorkerModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<hr/>
@if (User.Identity.IsAuthenticated)
{

    <div>
        <h4>PieceworkWorkerModel</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Message)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Message)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IsSenior)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IsSenior)
            </dd>
            <dt class="col-sm-2">
                Pay
            </dt>
            <dd class="col-sm-10">
                @*@Html.DisplayFor(model => model.GetPay().ToString("c"))*@
                @Model.GetPay().ToString("c")
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <p>Please Login!</p>
}
