

@{
    ViewData["Title"] = "Worker Entry";
}

@model Assignment_04.Models.PieceworkWorkerModel

@using (Html.BeginForm("Entry", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
{
    <div class="row">
        <div class="col-md-3 offset-3">
            <!-- Render a Radio button for Senior workers-->
            @Html.RadioButtonFor(m => m.IsSenior, true)
            @Html.LabelFor(m => m.IsSenior, "Senior Worker")
        </div>
        <div class="col-md-3">
            <!-- Render a Radio button for regular workers-->
            @Html.RadioButtonFor(m => m.IsSenior, false)
            @Html.LabelFor(m => m.IsSenior, "Regular Worker")
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 offset-3">
            <!-- Render a label for the worker's name -->
            @Html.LabelFor(m => m.Name)
        </div>
        <div class="col-md-2">
            <!-- Render a textbox for the worker's name -->
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
        </div>
        <div class="col-md-2">
            <!-- Render a validation message for the worker's name -->
            @Html.ValidationMessageFor(m => m.Name, string.Empty, new { @class = "text-danger"})
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 offset-3">
            <!-- Render a label for the worker's message -->
        @Html.LabelFor(m => m.Message)
        </div>
        <div class="col-md-2">
            <!-- Render a textbox for the worker's message -->
        @Html.TextBoxFor(m => m.Message, new { @class = "form-control"})
        </div>
        <div class="col-md-2">
            <!-- Render a validation message for number of message -->
        @Html.ValidationMessageFor(m => m.Message, string.Empty, new { @class = "text-danger"})
        </div>
    </div>

    
    <div class="row">
        <div class="col-md-3 offset-3">
            <!-- Render a Calculate button-->
            <input class="btn btn-primary" action="Entry" name="Home" value="Calculate" type="submit" />
        </div>
        <div class="col-md-3">
            <!-- Render a Clear button -->
        @Html.ActionLink("Clear", "Entry", "Home", null, new { @class = "btn btn-primary" })
        </div>
    </div>

    @if (PieceworkWorkerModel.WorkerCount > 0)
    {
    <div class="row">
        <div class="col-md-6 offset-3">
            @if (Model != null)
            {
                <p>
                        <!-- Display the Last inputted worker pay-->
                    Last Worker's Pay: @Model.Pay.ToString("c")
                </p>
            }
            <p>
                <!-- Display the Total number of workers-->
                Total Workers: @PieceworkWorkerModel.WorkerCount.ToString()
            </p>
            <p>
                    <!-- Display the total pay of all the workers-->
                Total Pay: @PieceworkWorkerModel.TotalPay.ToString("c")
            </p>
            <p>
                    <!-- Display the average pay of all the workers-->
                Average Pay: @PieceworkWorkerModel.AveragePay.ToString("c")
            </p>
           
        </div>
    </div>
    }

}
